name: List VPC

on:
  push:
    branches:
      - main

permissions:
  id-token: write
  contents: read

jobs:
  list_vpc:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
      
      - name: AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.AWS_OIDC_ROLE }}
          aws-region: ap-southeast-1
      
      - name: List VPC
        run: |
          aws ec2 describe-vpcs \
          --query 'Vpcs[*].{VpcID:VpcId, Name:Tags[?Key==`Name`].Value | [0]}' \
          --output table
